# Environments
.venv/
env/
__pycache__/
*.pyc

# Data and Artifacts (Too large for GitHub)
candidates.jsonl
artifacts/
candidate_embeddings.npy
candidate_id_order.pkl
candidates.index
candidates_parsed.pkl
top100.csv
top100.json
results/

# IDE / OS / Web
.vscode/
.idea/
.DS_Store
__pyrefly_virtual__/
.streamlit/
